::-webkit-scrollbar-track-piece {
    background-color: #fff;
    border-radius: 0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #9f9f9f;
    border-radius: 4px;
    outline: 2px solid #fff;
    outline-offset: -2px;
    border: 2px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
    height: 50px;
    background-color: #999;
    border-radius: 4px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    box-sizing: inherit;
    line-height: 1.45;
    font-family: "Monaco", "Roboto", Helvetica, "Noto Sans", "Noto", monospace, sans-serif;
}

body {
    font-size: 14px;
    color: #333;
    letter-spacing: 0;
    box-sizing: border-box;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    clear: both;
    content: '.';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}

a {
    outline-style: none;
    text-decoration: none;
    color: gray;
}

a:hover {
    color: #333;
}

.markdown {
    word-wrap: break-word;
}

.markdown h1 {
    font-size: 2em;
}

.markdown h2 {
    font-size: 1.5em;
}

.markdown blockquote {
    padding: 0 1em;
    color: #777;
    border-left: 0.25em solid #ddd;
}

.markdown pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    background-color: #f7f7f7;
    border-radius: 3px;
    position: relative;
}

.markdown p,
.markdown blockquote,
.markdown ul,
.markdown ol,
.markdown dl,
.markdown table,
.markdown pre {
    margin-bottom: 18px;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    margin-bottom: 16px;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eee;
}

.markdown code[class^="lang-"]:after {
    position: absolute;
    top: 0;
    right: 0;
    height: 15px;
    color: #ccc;
    line-height: 15px;
    text-align: right;
    padding: 16px 16px 0;
}

.markdown code.lang-bash:after {
    content: 'BASH';
}

.markdown code.lang-js:after {
    content: 'JS';
}

.markdown code.lang-java:after {
    content: 'JAVA';
}

.markdown code.lang-html:after {
    content: 'HTML';
}

.markdown code.lang-css:after {
    content: 'CSS';
}

.markdown code.lang-xml:after {
    content: 'XML';
}

.markdown code.lang-json:after {
    content: 'JSON';
}

.markdown code.lang-sql:after {
    content: 'SQL';
}

.markdown code.lang-markdown:after {
    content: 'MD';
}

@media screen and (min-width: 1281px) {
    #app {
        padding-left: 300px;
    }
    .sidenav .sidenav-content {
        top: 0;
        pointer-events: auto;
        transform: translateZ(0);
        box-shadow: 0 1px 5px rgba(0, 0, 0, .2), 0 2px 2px rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
    }
    .sidenav .sidenav-layer {
        opacity: 0;
        pointer-events: none;
    }
}