::-webkit-scrollbar-track-piece {
    background-color: #fff;
    border-radius: 0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #9f9f9f;
    border-radius: 4px;
    outline: 2px solid #fff;
    outline-offset: -2px;
    border: 2px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
    height: 50px;
    background-color: #999;
    border-radius: 4px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    box-sizing: inherit;
    line-height: 1.45;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body,
html,
#app {
    height: 100%;
    overflow: hidden;
}

body {
    font-size: 1em;
    color: #333;
    letter-spacing: 0;
    box-sizing: border-box;
    background-color: #fff;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    clear: both;
    content: '.';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}

a {
    outline-style: none;
    text-decoration: none;
    color: gray;
}

a:hover {
    color: #333;
}

code {
    padding: .2em .5em;
    margin: 0 .25em;
    font-size: 12px;
    background-color: rgba(27,31,35,0.05);
    border-radius: 4px;
}

code.success {
    color: white;
    background-color: #51a351;
}

code.danger {
    color: white;
    background-color: #f44336;
}

code.primary {
    color: white;
    background-color: #2196f3;
}

.markdown {
    word-wrap: break-word;
}

.markdown h1 {
    font-size: 2em;
}

.markdown h2 {
    font-size: 1.5em;
}

.markdown blockquote {
    padding: 0 1em;
    color: #777;
    border-left: 0.25em solid #ddd;
}

.markdown pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    background-color: #f7f7f7;
    border-radius: 3px;
    position: relative;
}

.markdown p,
.markdown blockquote,
.markdown ul,
.markdown ol,
.markdown dl,
.markdown table,
.markdown pre {
    margin-bottom: 18px;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    margin-bottom: 16px;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eee;
}

.markdown pre code {
    padding: 0;
    margin: 0;
    border-radius: 0;
    background-color: inherit;
    font-size: inherit;
}

.markdown code[class^="lang-"]:after {
    position: absolute;
    top: 0;
    right: 0;
    height: 15px;
    color: #ccc;
    line-height: 15px;
    text-align: right;
    padding: 16px 16px 0;
}

.markdown code.lang-bash:after {
    content: 'BASH';
}

.markdown code.lang-js:after {
    content: 'JS';
}

.markdown code.lang-java:after {
    content: 'JAVA';
}

.markdown code.lang-html:after {
    content: 'HTML';
}

.markdown code.lang-css:after {
    content: 'CSS';
}

.markdown code.lang-xml:after {
    content: 'XML';
}

.markdown code.lang-json:after {
    content: 'JSON';
}

.markdown code.lang-sql:after {
    content: 'SQL';
}

.markdown code.lang-markdown:after {
    content: 'MD';
}

.view {
    transition: all .5s cubic-bezier(.55, 0, .1, 1);
}

.slide-bottom-enter {
    opacity: 0;
    -webkit-transform: translate(0, 30px);
    transform: translate(0, 30px);
}

.slide-bottom-leave-active {
    position: absolute;
    width: calc(100% - 20px);
    opacity: 0;
    -webkit-transform: translate(0, 30px);
    transform: translate(0, 30px);
}

svg.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.form {
    padding: 20px;
    background: #eaeaea;
}

.form .control-group {
    margin-bottom: 15px;
}

.form input,
.form textarea {
    border: 2px solid #ccc;
    padding: 7px;
    border-radius: 2px;
    transition: all .5s;
    resize: none;
    width: 100%;
}

.form textarea {
    min-height: 220px;
    overflow-x: hidden;
}

input:focus,
input:active,
textarea:focus,
textarea:active {
    border-color: rgba(0, 0, 0, 0.26);
}

.form.success input:focus,
.form.success input:active,
.form.success textarea:focus,
.form.success textarea:active,
input.success:focus,
input.success:active,
textarea.success:focus,
textarea.success:active {
    border-color: #51a351;
}

.form.primary input:focus,
.form.primary input:active,
.form.primary textarea:focus,
.form.primary textarea:active,
input.primary:focus,
input.primary:active,
textarea.primary:focus,
textarea.primary:active {
    border-color: #2196f3;
}

.button {
    min-width: 80px;
    min-height: 32px;
    line-height: 32px;
    padding: 0 15px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: none;
    border: 0;
    border-radius: 2px;
    text-align: center;
    font-weight: 500;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
}

.button:hover,
.button:active,
.button:focus {
    background-color: hsla(0, 0%, 60%, .2);
    text-decoration: none;
}

.button.shadow {
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2), 0 2px 2px rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
}

.button.white {
    color: black;
    background-color: #ffffff;
}

.button.success {
    color: white;
    background-color: #5bb75b;
}

.button.success:hover,
.button.success:active,
.button.success:focus {
    background-color: #51a351;
}

.button.primary {
    color: white;
    background-color: #2196f3;
}

.button.primary:hover,
.button.primary:active,
.button.primary:focus {
    background-color: #1e88e5;
}

.button.default {
    color: #777;
    background-color: hsla(0, 0%, 60%, .2);
}

.button.default:hover,
.button.default:active,
.button.default:focus {
    color: black;
    background-color: hsla(0, 0%, 60%, .5);
}

.button.icon-button {
    width: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    padding: 0 8px;
    color: white;
}

.button.icon-button>i.icon {
    font-size: 1.7em;
}

.bold {
    font-weight: 600;
}

/*@media screen and (min-width: 1281px) {
    #app {
        padding-left: 300px;
    }
    .sidenav .sidenav-content {
        top: 0;
        pointer-events: auto;
        transform: translateZ(0);
        box-shadow: 0 1px 5px rgba(0, 0, 0, .2), 0 2px 2px rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
    }
    .sidenav .sidenav-layer {
        opacity: 0;
        pointer-events: none;
    }
}*/
